In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_excel('D:/Tugas/KULIAH/SMT6/DataMining/UAS/dataset_UAS-main/dataset_UAS-main/soal2.xls')

In [8]:
df = pd.DataFrame(data)
df

  Category  Weather V-1  Holiday V-2  Game V-3  Qty
0        A            5            1         0  250
1        B            3            1         1  200
2        C            1            1         0   75
3        D            4            1         1  400
4        E            4            0         0  150
5        F            2            0         0   50